
<div
  class = "header"
  *ngIf = "date$ | async as date"
>
  <button
    (click)="prevMonth()"
  >< 前月</button>
  <div>{{ date.format('YYYY/MM') }}</div>
  <button
    (click)="nextMonth()"
  >次月 ></button>
</div>

<div class = "content">
  <app-scroll-after-transition-in-page
    *ngIf = "date$ | async as date"
    #scrollAfterTransitionInPage
    [date]="date"
    [today]="today"
    [scrolledToday]=true
  >
  </app-scroll-after-transition-in-page>
</div>


<button
  *ngIf = "date$ | async"
  class = "today-button"
  (click)="navigateToday()"
>
  今日へ
</button>
